@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body{
    background: rgb(19, 96, 168);
}

.app{
    background-color: aliceblue;
    width: 800px;
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 10px;
}

.app h1{
    border-bottom: 2px solid;
}

.quiz{
    margin-top: 30px;
}

.quiz h2{
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 20px;
}

.btn{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 19px;
    border: 1.2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
}

.btn:hover:not([disabled]){
    background-color: rgb(84, 82, 82);
    color: white;
}
.btn:disabled{
    color: rgb(65, 63, 78);
    cursor: no-drop;
}
#next-btn{
    width: 150px;
    padding: 5px;
    background: rgb(67, 58, 34);
    align-items: center;
    color: aliceblue;
    font-size: 16px;
    margin-left: 200px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#next-btn:hover{
    color: black;
    background-color: rgb(242, 225, 126);
    border: 1.5px solid;
}

.correct{
    background-color: rgb(178, 236, 205);
}

.incorrect{
    background-color: rgb(247, 193, 193);
}

@media (max-width: 450px){
    *{
        padding: 0;
        margin: 10px;
        box-sizing: border-box;
        font-family: Outfit;
    }

    .app{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
    }

    .app h1{
        border-bottom: 1px solid;
    }

    .quiz h2{
        font-size: 17px;
        padding-bottom: 9px;
    }

    .btn{
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        text-align: left;
        font-size: 13px;
        border: 1px solid;
        border-radius: 5px;
    }

    #next-btn{
        width: 100px;
        background: rgb(67, 58, 34);
        align-items: center;
        font-size: 16px;
        margin-left: 100px;
        border: 2px solid;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }

}